{% extends 'base.html' %}
{% block content %}
<h1>Detail</h1>
<p>작성자:<a href="{% url 'accounts:profile' movies.user %}">{{movies.user}}</a></p>

<hr>
<p>{{ movies.title }}</p> 
<p>{{ movies.description }}</p>
<hr>
{% if request.user == movies.user %}
  <a href="{% url 'movies:update' movies.id %}" >update</a>
  <form action="{% url 'movies:delete' movies.id %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-danger">delete</button>
  </form>
{% endif %}
<a href="{% url 'movies:index' %}">back</a>
<hr>
<p>댓글목록</p>
{% if comment %}
  <p><b>{{comments|length}}개의 댓글</b></p>
{% endif %}

<ul>
  {% for comment in comments %}
    <li>
      {{comment.content}}
      {% if request.user == comment.user %}
        <form action="{% url 'movies:comments_delete' movies.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" value="삭제">
        </form>
      {% endif %}
    </li>
  {% empty %}
  
  {% endfor %}
</ul>
{% if request.user.is_authenticated %}
  <form action="{% url 'movies:comments_create' movies.pk %}" method="POST">
    {% csrf_token %}
    {{comment_form}}
    <input type="submit" value="저장">
  </form>
{% else %}
  <a href="{% url 'accounts:login' %}">댓글을 달려면 로그인</a>
{% endif %}

{% endblock content %}